html{
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
}

header{
	border: 1px solid black;
	position: relative;
	background-color: #2b3951;
}

div{
	position: relative;
	width: 320px;
	margin: 0 auto;
}

img{
	width: 100%;
}

.left{
	width: 125px;
	position: absolute;
	top: 1.6em;
	left: 2.2em;
	transition: all 200ms linear;
}

header:hover .l{
	top: 1.5em;
	left: 0.1em;
}

.right{
	width: 125px;
	position: absolute;
	top: 1.6em;
	right: 2.2em;
	transition: all 200ms linear;
}

header:hover .r{
	top: 1.5em;
	right: 0.1em;
}

.brain{
	width: 46px;
	position: absolute;
	top: 4em;
	left: 8.5em;
	transition: all 200ms linear;
}

header:hover .b{
	top: 2.5em;
	left: 8.5em;
}

.body{
	width: 320px;
	padding-top: 4em;
	margin: 0;
	display: block;
}

footer{
	background-color: #1a2230;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
}

p{
	color: white;
	font-family: 'Contrail One', cursive;
	text-align: center;
	font-size: 2em;
	margin: 0;
}

body{
	margin: 0;
	padding: 0;
}
